---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import "../style.css";
import WorkCard from '../components/WorkCard.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Angela Veljanovska">
	<Header language="mk"/>
	<section id="hero-section">
		<div class="container">
			<div class="row align-center">
				<div class="col-50"></div>
				<div class="col-50">
					<div class="hero-content">
						<h1 class="hero-title">Ангела Вељановска. Фокусирана на Софтверско Тестирање.</h1>
						<p class="hero-text">
							Ако не си сигурен дали твојата апликација е доволно безбедна и има најдобар квалитет, само побарај ме и можам да проверам.
						</p>
						<button class="btn scroll">
							<a href="#services">Листај за повеќе</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-30">
					<p class="upper-text">Услуги</p>
					<h2 class="section-title">Вештини</h2>
				</div>
				<div class="col-70">
					<div class="grid">
						<div class="col">
							<img src="../img/responsive.png" alt="">
							<h3 class="service-title">UI Тестирање</h3>
						</div>
						<div class="col">
							<img src="../img/fast.png" alt="">
							<h3 class="service-title">Мануелно Тестирање</h3>
						</div>
						<div class="col">
							<img src="../img/test.png" alt="">
							<h3 class="service-title">Автоматско тестирање</h3>
						</div>
						<div class="col">
							<img src="../img/unit-testing.png" alt="">
							<h3 class="service-title">Unit Тестирање</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-60 bg-pink">
					<div class="about-content">
						<p class="upper-text" style="color: black">Запознавање</p>
						<h2 class="section-title">За мене</h2>
						<p class="section-text"> 
							Поздрав! Со задоволство се претставувам како софтверски развивач фокусиран на софтверско тестирање со седиште во Охрид, Македонија. Студирам на „Факултет за информатички науки и компјутерско инженерство – ФИНКИ“.
							И покрај тоа што сум млада во индустријата, мојот ентузијазам и посветеноста на мојата работа ме поттикнуваат да давам импресивни резултати. Имам остро око за детали и наоѓам огромна радост во трансформирањето на идеите во реалност преку елегантен код и иновативен дизајн.
						</p>
						<button class="btn black">
							<a href="https://www.instagram.com/aveljanovskaa/" target="_blank">Заследи ме на Инстаграм</a>
						</button>
					</div>
				</div>
				<div class="col-40 about-img"></div>
			</div>
		</div>
	</section>
	<section id="work">
		<div class="container">
			<div class="row">
				<div class="col-50">
					<div class="work-small">
						<p class="upper-text">Проекти</p>
						<h2 class="section-title w-70">Мојата работа од претходните години</h2>
					</div>
					<WorkCard
						title="UI Testing - Samsung Reminder App"
						text="Reminder App е апликација која на корисниците им овозможува да креираат, бришат, ажурираат и комплетираат потсетници."
						img="../img/Samsung-Reminders-Hero-1.avif"
						url="https://github.com/angelavel03/reminder-app-testing"
					/>

				</div>
				<div class="col-50">
					<div class="work-small">
						<button class="work-btn">
							<a href="#contact">Контактирај ме</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-50">
					<p class="upper-text">Контакт</p>
					<h2 class="section-title">Ајде да соработуваме</h2>
					<p class="secton-text" style="width: 90%;">Сега кога знаете повеќе за мене, информирајте ме дали сте заинтересирани да работите со мене. Без разлика дали имате прашање или сакате да споделите идеја со мене, слободно контактирајте ме.</p>
				</div>
				<div class="col-50">
					<form>
						<label for="name">Име:</label><br>
						<input type="text" class="input-form" id="name" placeholder="Напиши го своето име..."><br>
						<div class="errormsg" id="nameError"></div><br>
						<label for="email">Емаил:</label><br>
						<input type="email" class="input-form" id="email" placeholder="Напиши го својот емаил..."><br>
						<div class="errormsg" id="emailError"></div><br>
						<label for="message">Порака:</label><br>
						<textarea id="message" class="input-form" cols="30" rows="5" placeholder="Напиши ја својата порака..."></textarea>
						<div class="errormsg" id="messageError"></div><br>
						 <button type="button" class="submit-btn" id="mail-btn">Испрати порака</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<Footer/>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
	body {
		font-family: 'Fira Sans', sans-serif;
	}
	#services .col{
	padding:15px ;
	height: 300px;
	width: 300px;
	}
</style>

<script lang="js">
	function sendMail() {
    let params = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        message: document.getElementById("message").value,
    }

    const serviceId = 'service_kelewsr';
    const templateId = 'template_mphrjgs';

    emailjs.send(serviceId, templateId, params).then((response) => {
        console.log(response);
    }).catch((error) => {
        console.log(error);
    })
    document.getElementById("name").value = "";
    document.getElementById("email").value = "";
    document.getElementById("message").value = "";
}

function validateForm() {
    document.getElementById("nameError").textContent = "";
    document.getElementById("emailError").textContent = "";
    document.getElementById("messageError").textContent = "";

    let name = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let message = document.getElementById("message").value;

    if (name === "") {
        document.getElementById("nameError").textContent = "*Името е задолжително!";
        return false;
    } else if(name.length < 3) {
        document.getElementById("nameError").textContent = "*Името треба да има најмалку 3 букви!";
        return false;
    }

    if(email === "") {
        document.getElementById("emailError").textContent = "*Емаилот е задолжителен!";
        return false;
    } else if (!isValidEmail(email)) {
        document.getElementById("emailError").textContent = "*Невалиден емаил!";
        return false;
    }

    if(message === "") {
        document.getElementById("messageError").textContent = "*Пораката е задолжителна!";
        return false;
    }

    return true;
}

function isValidEmail(email) {
    let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

document.getElementById('mail-btn').addEventListener("click", () => {
    if(validateForm() === true) {
        sendMail();
    }
})
</script>