---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import "../style.css";
import WorkCard from '../components/WorkCard.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Angela Veljanovska">
	<Header language="mk"/>
	<section id="hero-section">
		<div class="container">
			<div class="row align-center">
				<div class="col-50"></div>
				<div class="col-50">
					<div class="hero-content">
						<h1 class="hero-title">Јас сум Ангела Вељановска, веб девелопер од Охрид.</h1>
						<p class="hero-text">
							Ако сте изморени од бавни веб-страници кои користат многу пати видени темплејти вие сте на вистинското место, јас изработувам брзи веб-страни со модерен кориснички интерфејс и моќни перформанси.
						</p>
						<button class="btn scroll">
							<a href="#services">Листај за повеќе</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-30">
					<p class="upper-text">Услуги</p>
					<h2 class="section-title">Вештини</h2>
				</div>
				<div class="col-70">
					<div class="grid">
						<div class="col">
							<img src="../img/responsive.png" alt="">
							<h3 class="service-title">Респонсивен Веб Дизајн</h3>
							<p class="service-text">Јас се истакнувам во создавањето визуелно привлечни и кориснички веб-страни кои беспрекорно се прилагодуваат на различни уреди и големини на екранот.</p>
						</div>
						<div class="col">
							<img src="../img/computer.png" alt="">
							<h3 class="service-title">Модерен Кориснички Интерфејс</h3>
							<p class="service-text">Специјалист сум за изработка на елегантни и интуитивни кориснички интерфејси кои оставаат траен впечаток на посетителите на вашата веб-страница.</p>
						</div>
						<div class="col">
							<img src="../img/fast.png" alt="">
							<h3 class="service-title">Брзина и Сигурност</h3>
							<p class="service-text">Давам приоритет на перформансите и безбедноста на вашата веб-страница со имплементирање на ефикасни практики за кодирање.</p>
						</div>
						<div class="col">
							<img src="../img/mobile-development.png" alt="">
							<h3 class="service-title">Развој на Апликации</h3>
							<p class="service-text">Од концептуализација до дистрибуирање, јас сум специјализиран за изработка на приспособени и богати апликации</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-60 bg-pink">
					<div class="about-content">
						<p class="upper-text" style="color: black">Запознавање</p>
						<h2 class="section-title">За мене</h2>
						<p class="section-text"> 
							Поздрав! Со задоволство се претставувам како страствен и посветен веб-девелопер со седиште во Охрид, Македонија. Студирам на „Факултет за информатички науки и компјутерско инженерство – ФИНКИ“.
							И покрај тоа што сум млада во индустријата, мојот ентузијазам и посветеноста на мојата работа ме поттикнуваат да давам импресивни резултати. Имам остро око за детали, стремејќи се да создадам визуелно зачудувачки и функционални веб-страници кои обезбедуваат исклучително корисничко искуство. Наоѓам огромна радост во трансформирањето на идеите во реалност преку елегантен код и иновативен дизајн.
						</p>
						<button class="btn black">
							<a href="https://www.instagram.com/aveljanovskaa/" target="_blank">Заследи ме на Инстаграм</a>
						</button>
					</div>
				</div>
				<div class="col-40 about-img"></div>
			</div>
		</div>
	</section>
	<section id="work">
		<div class="container">
			<div class="row">
				<div class="col-50">
					<div class="work-small">
						<p class="upper-text">Проекти</p>
						<h2 class="section-title w-70">Мојата работа од претходниве две години</h2>
					</div>
					<WorkCard
						title="Bonuasads - SMMA"
						text="Bonuasads е современ проект за маркетинг агенција за социјални медиуми (SMMA) кој ја покажува моќта на дигиталното рекламирање. Со тим од талентирани маркетинг професионалци, тие се специјализирани да им помагаат на бизнисите да го зголемат своето онлајн присуство и ефективно да стигнат до посакуваната публика. Преку стратешко планирање, иновативни рекламни кампањи и аналитика базирана на податоци, создаваат приспособени решенија за да ја максимизираат видливоста на брендот, да генерираат потенцијални клиенти и да ги зголемат конверзиите. Bonuasads се гордее со тоа што дава мерливи резултати и поттикнува опиплив бизнис раст за нивните клиенти."
						img="../img/bonusads.png"
						url="https://bonusads.agency"
					/>
					<WorkCard
						title="Crypto Convertor"
						text="Crypto Convertor е иновативна мобилна апликација наменета за крипто ентузијасти и инвеститори. Со оваа апликација, корисниците можат без напор да конвертираат различни криптовалути во посакуваните валути или други дигитални средства. Нуди девизни курсеви во реално време и поддржува широк спектар на криптовалути. Останете напред на пазарот на крипто со Crypto Convertor."
						img="../img/convertor.png"
						url="https://cryptoconverter.azurewebsites.net/"
					/>
				</div>
				<div class="col-50">
					<WorkCard
					title="Dentist Website"
					text="Mydentist е сеопфатна стоматолошка веб-страница дизајнирана да обезбеди исклучителни услуги за стоматолошка нега на пациенти од сите возрасти. Со кориснички интерфејс и информативна содржина, веб-страницата има за цел да создаде удобно онлајн искуство за посетителите. Од општа стоматологија и превентивна нега до естетска стоматологија и специјализирани третмани, Mydentist нуди широк спектар на услуги за да се задоволат индивидуалните потреби на оралното здравје. Нивниот висококвалификуван тим од стоматолози и пријателски персонал се посветени на обезбедување грижа со врвен квалитет, обезбедувајќи пациентите да одржуваат оптимална орална хигиена и да постигнат убави, здрави насмевки."
					img="../img/dentist.png"
					url="https://mydentalist.webflow.io"
					/>
					<WorkCard
						title="Finacial Website"
						text="Neward е финансиска веб-страница која нуди вредни ресурси и стручни сознанија за да им помогне на поединците и бизнисите да се движат низ сложениот свет на финансиите. Без разлика дали сте искусен инвеститор или почетник кој сакате да ја подобрите вашата финансиска писменост, Neward обезбедува мноштво информации за теми како што се стратегии за инвестирање, финансиско планирање, трендови на пазарот и управување со богатството. Нивната цел е да ги поттикнат корисниците со знаење и алатки кои им се потребни за да донесат информирани финансиски одлуки, да градат богатство и да постигнат долгорочен финансиски успех."
						img="../img/neward.png"
						url="https://neward.webflow.io"
					/>
					<div class="work-small">
						<button class="work-btn">
							<a href="#contact">Контактирај ме</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-50">
					<p class="upper-text">Контакт</p>
					<h2 class="section-title">Ајде да соработуваме</h2>
					<p class="secton-text" style="width: 90%;">Сега кога знаете повеќе за мене, информирајте ме дали сте заинтересирани да работите со мене. Без разлика дали имате прашање или сакате да споделите идеја со мене, слободно контактирајте ме.</p>
				</div>
				<div class="col-50">
					<form>
						<label for="name">Име:</label><br>
						<input type="text" class="input-form" id="name" placeholder="Напиши го своето име..."><br>
						<div class="errormsg" id="nameError"></div><br>
						<label for="email">Емаил:</label><br>
						<input type="email" class="input-form" id="email" placeholder="Напиши го својот емаил..."><br>
						<div class="errormsg" id="emailError"></div><br>
						<label for="message">Порака:</label><br>
						<textarea id="message" class="input-form" cols="30" rows="5" placeholder="Напиши ја својата порака..."></textarea>
						<div class="errormsg" id="messageError"></div><br>
						 <button type="button" class="submit-btn" id="mail-btn">Испрати порака</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<Footer/>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
	body {
		font-family: 'Fira Sans', sans-serif;
	}
	#services .col{
	padding:15px ;
	height: 300px;
	width: 300px;
	}
</style>

<script lang="js">
	function sendMail() {
    let params = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        message: document.getElementById("message").value,
    }

    const serviceId = 'service_kelewsr';
    const templateId = 'template_mphrjgs';

    emailjs.send(serviceId, templateId, params).then((response) => {
        console.log(response);
    }).catch((error) => {
        console.log(error);
    })
    document.getElementById("name").value = "";
    document.getElementById("email").value = "";
    document.getElementById("message").value = "";
}

function validateForm() {
    document.getElementById("nameError").textContent = "";
    document.getElementById("emailError").textContent = "";
    document.getElementById("messageError").textContent = "";

    let name = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let message = document.getElementById("message").value;

    if (name === "") {
        document.getElementById("nameError").textContent = "*Името е задолжително!";
        return false;
    } else if(name.length < 3) {
        document.getElementById("nameError").textContent = "*Името треба да има најмалку 3 букви!";
        return false;
    }

    if(email === "") {
        document.getElementById("emailError").textContent = "*Емаилот е задолжителен!";
        return false;
    } else if (!isValidEmail(email)) {
        document.getElementById("emailError").textContent = "*Невалиден емаил!";
        return false;
    }

    if(message === "") {
        document.getElementById("messageError").textContent = "*Пораката е задолжителна!";
        return false;
    }

    return true;
}

function isValidEmail(email) {
    let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

document.getElementById('mail-btn').addEventListener("click", () => {
    if(validateForm() === true) {
        sendMail();
    }
})
</script>