---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import "../style.css";
import WorkCard from '../components/WorkCard.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Angela Veljanovska">
	<Header language="en"/>
	<section id="hero-section">
		<div class="container">
			<div class="row align-center">
				<div class="col-50"></div>
				<div class="col-50">
					<div class="hero-content">
						<h1 class="hero-title">I'm Angela Veljanovska. A Web Developer based in Ohrid.</h1>
						<p class="hero-text">If you are sick of slow websites that has hundred times seen template you are on the right place, I create lightspeed performance websites with ease to use and modern user interface.</p>
						<button class="btn scroll">
							<a href="#services">Scroll for more</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-30">
					<p class="upper-text">Services</p>
					<h2 class="section-title">Skillset</h2>
				</div>
				<div class="col-70">
					<div class="grid">
						<div class="col">
							<img src="../img/responsive.png" alt="">
							<h3 class="service-title">Respnsive Web Desgin</h3>
							<p class="service-text">I excel in creating visually appealing and user-friendly websites that seamlessly adapt to various devices and screen sizes.</p>
						</div>
						<div class="col">
							<img src="../img/computer.png" alt="">
							<h3 class="service-title">Modern User Interface</h3>
							<p class="service-text">I specialize in crafting sleek and intuitive user interfaces that leave a lasting impression on your website visitors.</p>
						</div>
						<div class="col">
							<img src="../img/fast.png" alt="">
							<h3 class="service-title">Speed and Security</h3>
							<p class="service-text">I prioritize the performance and security of your website by implementing efficient coding practices.</p>
						</div>
						<div class="col">
							<img src="../img/mobile-development.png" alt="">
							<h3 class="service-title">App Development</h3>
							<p class="service-text">From conceptualization to deployment, I specialize in crafting customized and feature-rich applications</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-60 bg-pink">
					<div class="about-content">
						<p class="upper-text"  style="color: black">About me</p>
						<h2 class="section-title">Introduction</h2>
						<p class="section-text"> 
							Greetings! I'm delighted to introduce myself as a passionate and dedicated web developer based in Ohrid, Macedonia. I study at the esteemed "Faculty of Computer Science and Engineering - FINKI."
							Despite being young in the industry, my enthusiasm and commitment to my craft drive me to deliver impressive results. I have a keen eye for detail, striving to create visually stunning and functional websites that provide an exceptional user experience. I find immense joy in transforming ideas into reality through elegant code and innovative design.
						</p>
						<button class="btn black">
							<a href="https://www.instagram.com/aveljanovskaa/" target="_blank">Follow me on IG</a>
						</button>
					</div>
				</div>
				<div class="col-40 about-img"></div>
			</div>
		</div>
	</section>
	<section id="work">
		<div class="container">
			<div class="row">
				<div class="col-50">
					<div class="work-small">
						<p class="upper-text">My projects</p>
						<h2 class="section-title w-70">Work that I've done for the past 2 years</h2>
					</div>
					<WorkCard
						title="Bonuasads - SMMA"
						text="Bonuasads is a cutting-edge social media marketing agency (SMMA) project that showcases the power of digital advertising. With a team of talented marketing professionals, we specialize in helping businesses grow their online presence and reach their target audience effectively. Through strategic planning, innovative ad campaigns, and data-driven analytics, we create tailored solutions to maximize brand visibility, generate leads, and increase conversions. Bonuasads prides itself on delivering measurable results and driving tangible business growth for our clients."
						img="../img/bonusads.png"
						url="https://bonusads.agency"
					/>
					<WorkCard
						title="Crypto Convertor"
						text="Crypto Convertor is an innovative mobile application designed for crypto enthusiasts and investors. With this app, users can effortlessly convert various cryptocurrencies into their desired fiat currencies or other digital assets. Offering real-time exchange rates and supporting a wide range of cryptocurrencies. Stay ahead in the crypto market with Crypto Convertor."
						img="../img/convertor.png"
						url="https://cryptoconverter.azurewebsites.net/"
					/>
				</div>
				<div class="col-50">
					<WorkCard
					title="Dentist Website"
					text="Mydentist is a comprehensive dentist website designed to provide exceptional dental care services to patients of all ages. With a user-friendly interface and informative content, the website aims to create a comfortable online experience for visitors. From general dentistry and preventive care to cosmetic dentistry and specialized treatments, Mydentist offers a wide range of services to cater to individual oral health needs. Our highly skilled team of dentists and friendly staff are committed to delivering top-quality care, ensuring patients maintain optimal oral hygiene and achieve beautiful, healthy smiles."
					img="../img/dentist.png"
					url="https://mydentalist.webflow.io"
					/>
					<WorkCard
						title="Finacial Website"
						text="Neward is a dynamic financial website that offers valuable resources and expert insights to help individuals and businesses navigate the complex world of finance. Whether you're a seasoned investor or a novice looking to enhance your financial literacy, Neward provides a wealth of information on topics such as investment strategies, financial planning, market trends, and wealth management. Our goal is to empower users with the knowledge and tools they need to make informed financial decisions, build wealth, and achieve long-term financial success."
						img="../img/neward.png"
						url="https://neward.webflow.io"
					/>
					<div class="work-small">
						<button class="work-btn">
							<a href="#contact">Let's chat</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-50">
					<p class="upper-text">Contact</p>
					<h2 class="section-title">Let's talk business</h2>
					<p class="secton-text" style="width: 90%;">Now that you know a lot about me, let me know if you are interested to work with me. Wether you have a question or you want to share an idea with me, feel free to contact me.</p>
				</div>
				<div class="col-50">
					<form>
						<label for="name">Name:</label><br>
						<input type="text" class="input-form" id="name" placeholder="Enter your name..."><br>
						<div class="errormsg" id="nameError"></div><br>
						<label for="email">Email:</label><br>
						<input type="email" class="input-form" id="email" placeholder="Enter your email..."><br>
						<div class="errormsg" id="emailError"></div><br>
						<label for="message">Message:</label><br>
						<textarea id="message" class="input-form" cols="30" rows="5" placeholder="Enter your message..."></textarea>
						<div class="errormsg" id="messageError"></div>
						 <button type="button" class="submit-btn" id="mail-btn">Let's get started</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<Footer/>
</Layout>

<style>
	.errormsg {
		color: red;
	}
</style>

<script lang="js">
	function sendMail() {
    let params = {
        name: document.getElementById("name").value,
        email: document.getElementById("email").value,
        message: document.getElementById("message").value,
    }

    const serviceId = 'service_kelewsr';
    const templateId = 'template_mphrjgs';

    emailjs.send(serviceId, templateId, params).then((response) => {
        console.log(response);
    }).catch((error) => {
        console.log(error);
    })
    document.getElementById("name").value = "";
    document.getElementById("email").value = "";
    document.getElementById("message").value = "";
}

function validateForm() {
    document.getElementById("nameError").textContent = "";
    document.getElementById("emailError").textContent = "";
    document.getElementById("messageError").textContent = "";

    let name = document.getElementById("name").value;
    let email = document.getElementById("email").value;
    let message = document.getElementById("message").value;

    if (name === "") {
        document.getElementById("nameError").textContent = "*Name is required!";
        return false;
    } else if(name.length < 3) {
        document.getElementById("nameError").textContent = "*Name should be at least 3 characters!";
        return false;
    }

    if(email === "") {
        document.getElementById("emailError").textContent = "*Email is required!";
        return false;
    } else if (!isValidEmail(email)) {
        document.getElementById("emailError").textContent = "*Invalid email!";
        return false;
    }

    if(message === "") {
        document.getElementById("messageError").textContent = "*Message is required!";
        return false;
    }

    return true;
}

function isValidEmail(email) {
    let emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return emailRegex.test(email);
}

document.getElementById('mail-btn').addEventListener("click", () => {
    if(validateForm() === true) {
        sendMail();
    }
})
</script>