<footer>
    <div class="container">
        <div class="row">
            <div class="col-50">
                <p class="footer-title">Angela.V</p>
                <div class="social-links">
                    <a href="#" class="social-link">Facebook</a>
                    <a href="#" class="social-link">Instagram</a>
                    <a href="#" class="social-link">Github</a>
                </div>
            </div>
            <div class="col-50 text-end">
                <p>All Rights Reserved &copy; Coypright 2023</p>
                <p class="authot">Created by Angela Veljanovska</p>
            </div>
        </div>
    </div>
</footer>

<style>
    footer {
        color: aliceblue;
        padding: 50px;
        background-color: #181822;
    }

</style>