---
import "../style.css";
---

<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="#">Angela Veljanovska</a>
            </div>
            <div class="menu">
                <a href="#" class="nav-link">Services</a>
                <a href="#" class="nav-link">About me</a>
                <a href="#" class="nav-link">My Projects</a>
                <a href="#" class="nav-link">Contact me</a>
            </div>
        </nav>
    </div>
</header>

<style>
    
header{
    padding: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    padding: 15px;
}
.logo a{
    text-decoration: none;
}

</style>