---
export interface Props {
	language: string;
}

const { language } = Astro.props;

import "../style.css";
---

<header>
    <div class="container">
        <nav>
            <div class="logo">
                <img src={ (language === "en") ? "../img/logo.png" : "../img/logo-mk.png" } alt="">
                { (language === "en") ? <a href="/">Angela Veljanovska</a>  : <a href="/">Ангела Вељановска</a>  }
                <a href="/index-mk" class="lang lang1">
                    <img src="../img/republic-of-macedonia.png" alt="">
                </a>
                <a href="/" class="lang lang2">
                    <img src="../img/united-kingdom.png" alt="">
                </a>
            </div>	
            <div class="menu">
                { (language === "en") ? <a href="#services" class="nav-link">Services</a> : <a href="#services" class="nav-link">Услуги</a> }
                { (language === "en") ? <a href="#about" class="nav-link">About me</a> : <a href="#about" class="nav-link">За менe</a>  }
                { (language === "en") ? <a href="#work" class="nav-link">My Projects</a> : <a href="#work" class="nav-link">Проекти</a>  }
                { (language === "en") ? <a href="#contact" class="nav-link">Contact me</a> : <a href="#contact" class="nav-link">Контакт</a> }
            </div>
            <div class="menu-btn">
                <i class="fa-solid fa-ice-cream"></i>
            </div>
        </nav>
    </div>
</header>

<style>
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    background-color: rgba(24, 24, 34, 0.9);
    z-index: 2222;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    text-decoration: none;
    padding: 15px;
    color: aliceblue;
    transition: .3s ease;
}
.nav-link:hover{
    color: #0ff;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo a{
    text-decoration: none;
    color: aliceblue;
}

.logo .lang img {
    width: 32px !important;
    padding: 0 5px;
}

.lang1 img {
    margin-left: 70px;
}

.logo img {
    width: 75px;
}
.menu-btn i {
    font-size: 24px;
    color: aliceblue;
}

.menu-btn {
    display: none;
}
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }
	.menu {
        position: fixed;
        top: 12%;
        right: 0;
        display: block;
        width: 100%;
        background-color: rgba(24, 24, 34, 0.9);
        display: none;
    }
    .menu a {
        display: block;
        padding: 20px;
    }
    .menu.show {
        display: block;
    }
}

@media screen and (max-width: 412px) {
    .lang1 img {
        margin-left: 40px;
    }    
}

</style>

<script type="text/javascript">
    document.querySelector(".menu-btn").addEventListener("click", () => {
        document.querySelector(".menu").classList.toggle("show");
    })
</script>